# terraform.tfvars.example
# terraform.tfvars (реальный файл, в .gitignore)

#Cloud in Organization
cloud_name    = "your-cloud" 
cloud_id    = "fjr9fffjGFD6mflvFs33"

#Catalog
catalog_name    = "your-folder"
catalog_id   = "efkds9fk45ldmj30fk9f"

#zones
zone_1_a      = "ru-central1-a"

# Service Account for Terraform
terraform_sa_name  = "terraform-sa"
terraform_sa_id    = "fjkKHJK529ffjejd5jsl"


#Contabo

image_id    = "afecbb85-e2fc-46f0-9684-b46b1faf00bb" # ubuntu-22.04 LTS

contabo_client_id     = "INT-12345678"
contabo_client_secret = "fsdje9dkek3fsfj3k5sjl03ffj0fkj3g8sj"
contabo_user          = "spv.public@gmail.com"
contabo_password      = "fdsaf\A\E@;FDjs5k3"